<!DOCTYPE html>
<html lang="ur">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Sobai Jamiat Ahle Hadees Mumbai</title> -->
    <!-- all css and js  files are here included -->
    <%- include('./common/css&js') %>
</head>

<body data-active="book">

    <!-- header and chats and loading animation included here  -->
    <%- include('./common/loading') %>

        <%- include('./common/header') %>

            <!-- content section starts here  -->

            <section id="content">

                <div class="main-container">

                    <div class="container2">

                        <div class="row g-lg-5 g-xl-5 g-md-3 g-sm-2 g-2 justify-content-center">

                            <!-- left column included here  -->

                            <!-- < include('./common/left') > -->

                            <div
                                class="column-center order-2 order-sm-2 order-md-1 column book col-12 col-sm-10 col-md-9 col-lg-9 col-xl-9">

                                <div class="card">

                                    <div class="top">

                                        <h1>
                                            مطبوعات صوبائی جمعیت

                                        </h1>

                                    </div>

                                    <div class="content">

                                        <div class="text-container mb-5">
                                            <p class="light text-right">
                                                صوبائی جمعیت اہل حدیث ممبئی کے کئی شعبوں میں سے ایک اہم شعبہ ’’شعبۂ
                                                نشر(ھندی)
                                                واشاعت اور تحقیق وتالیف‘‘ ہے، اس شعبے کے تحت مختلف اہم ترین موضوعات پر
                                                درجنوں کتابیں اب تک لکھی اور تیار کی جاچکی ہیں، نیز مختلف قسم کے دعوتی
                                                پمفلٹ، فولڈر اور کتابچے وغیرہ بھی تیار کئے گئے ہیں اور مزید کتابوں کے
                                                ترجمے،
                                                تالیف اور ترتیب کا کام بحمدللہ جاری ہے۔
                                            </p>
                                            <p class="light text-right">
                                                ذیل میں صوبائی جمعیت اہل حدیث ممبئی کی مطبوعات آن لائن اور پی ڈی ایف
                                                میں
                                                مطالعہ کے لئے پیش کی جارہی ہیں۔
                                            </p>
                                        </div>

                                        <!-- all books starts here  -->

                                        <div class="row mt-3" id="book1">

                                            <div class="col-12 card-header mb-2 d-flex justify-content-center">

                                                <span> از ڈاکٹر محمد زیاوالرحمن</span>
                                                <span class="mx-4">قرآن کی شیتل چھایا (ھندی)</span>


                                            </div>

                                            <div class="col-12 tab-container p-0">

                                                <form action="/purchase-book"
                                                    class="d-flex justify-content-end flex-sm-nowrap" method="post">
                                                    <input type="hidden" name="bookName"
                                                        value="قرآن کی شیتل چھایا(ّھندی)">
                                                    <input type="submit" class="d-none" id="submit">


                                                    <button type="submit"><a>کتاب منگوایں</a></button>
                                                    <a href="/unicode">یونیکوڈ</a>
                                                    <a class="read-online-tab">
                                                        آن لائن مطالعہ </a>
                                                    <a download
                                                        href="https://ia902708.us.archive.org/0/items/quran-majeed_ki-sheetal-chhaya/Quran_ki_Sheetal_Chaya.pdf"
                                                        target="_blank">ڈاوؑنلوڈ</a>

                                                    <a class="active book-details-tab">تفصیل کتاب</a>
                                                </form>
                                            </div>

                                            <div class="row col-12 justify-content-end book-details">
                                                <div
                                                    class="col-12 d-flex mt-2 flex-wrap flex-sm-wrap flex-md-nowrap justify-content-center justify-content-sm-center justify-content-md-between px-5 author">

                                                    <!-- <span class="order-md-1 order-sm-2 order-2">

                                                    مترجم : ابو عبداللٰہ عنایت اللٰہ مدنی

                                                </span> -->

                                                    <span class="order-md-2 order-sm-1 order-1">
                                                        <b>

                                                            مؤلف : ڈاکٹر محمد ضیاء الرحمن اعظمی حفظہ اللہ

                                                        </b>
                                                    </span>

                                                </div>

                                                <div class="line "></div>

                                                <div
                                                    class="text-justify col-xl-10 col-lg-9 col-md-8 col-sm-9 col-12 order-lg-1 order-xl-1 order-md-1 order-sm-3 order-3  d-flex align-items-center flex-column justify-content-center m-auto">
                                                    <p class="book-text">
                                                        دعوت و تربیت کے باب میں ہندی زبان میں یہ ایک نہایت انوکھی کتاب
                                                        ہے جس
                                                        میں مؤلف حفظہ اللہ نے قرآن کریم کی آیات،سیرت رسول ﷺ اور اسی
                                                        طرح
                                                        سلف صالحین کی زندگیوں کی روشنی میںتوحید باری تعالیٰ، یوم آخرت
                                                        اور
                                                        اللہ واحد کی عبادت و بندگی کے علاوہ اسلام کی صالح تعلیمات،
                                                        سچائی،
                                                        امن و سلامتی، حق وانصاف،سماج و سوسائٹی میں عمدہ اخلاق و
                                                        کرداراوربندوں کے حقوق وغیرہ کی وضاحت فرمائی ہے۔یہ کتاب غیر
                                                        مسلموں
                                                        اور اسی طرح دعوتی میدان میں کام کرنے والوں کے لئے یکساں مفید ہے۔
                                                    </p>
                                                    <div class="col-12 d-flex align-items-start more-btn">
                                                        <span>مزید۔۔</span>
                                                    </div>
                                                </div>

                                                <div
                                                    class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-5 m-xl-0 m-lg-0 m-md-0 m-sm-auto  m-auto d-flex align-items-center order-lg-2 order-xl-2 order-md-2 order-sm-1 order-1">

                                                    <a class="image">

                                                        <img class="img-fluid" src="./images/book-41.jpg" alt="">

                                                    </a>

                                                    <!-- <a download class="download-pdf" target="_blank"
                                                                href="https://ia902601.us.archive.org/21/items/bidaat-ki-pehchan/Bidaat%20Ki%20Pehchan.pdf">
                                                                ڈاؤنلوڈ
                                                            </a>
            
                                                            <p class="unicode">یونیکوڈ</p> -->

                                                </div>

                                                <div
                                                    class="col-12 row justify-content-between order-lg-3 order-xl-3 order-md-3 order-sm-2 order-2">

                                                    <span
                                                        class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 order-2 order-sm-1">

                                                        ناشر : صوبائی جمیعت اہل حدیث ممبئی

                                                    </span>

                                                    <span
                                                        class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12 order-1 order-sm-2 text-center">

                                                        صفحات : ۱۶۰

                                                    </span>

                                                </div>


                                            </div>

                                            <div class="read-online mt-5 col-12">

                                                <iframe src="https://archive.org/embed/quran-majeed_ki-sheetal-chhaya"
                                                    width="560" height="384" frameborder="0"
                                                    webkitallowfullscreen="true" mozallowfullscreen="true"
                                                    allowfullscreen></iframe>

                                            </div>

                                        </div>

                                        <div class="line my-5"></div>

                                        <div class="row mt-3" id="book2">

                                            <div class="col-12 card-header mb-2 d-flex justify-content-center">

                                                <span> از عبدالمعید مدنی</span>
                                                <span class="mx-4">جماعت اہل حدیث اور آزادیٔ وطن</span>


                                            </div>

                                            <div class="col-12 tab-container p-0">

                                                <form action="/purchase-book"
                                                    class="d-flex justify-content-end flex-sm-nowrap" method="post">
                                                    <input type="hidden" name="bookName"
                                                        value="جماعت اہل حدیث اور آزادی وطن">
                                                    <input type="submit" class="d-none" id="submit">


                                                    <button type="submit"><a>کتاب منگوایں</a></button>
                                                    <a href="/unicode">یونیکوڈ</a>
                                                    <a class="read-online-tab">
                                                        آن لائن مطالعہ </a>
                                                    <a download
                                                        href="https://ia802603.us.archive.org/12/items/Jamat_Ahle_Hadees_aur_Azadi_e_Watan/%D8%AC%D9%85%D8%A7%D8%B9%D8%AA_%D8%A7%DB%81%D9%84_%D8%AD%D8%AF%DB%8C%D8%AB_%D8%A7%D9%88%D8%B1_%D8%A7%D9%93%D8%B2%D8%A7%D8%AF%DB%8C%D9%94_%D9%88%D8%B7%D9%86_%D8%B9%D8%A8%D8%AF_%D8%A7%D9%84%D9%85%DB%8C%D8%B9%D8%AF_%D9%85%D8%AF%D9%86%DB%8C.pdf"
                                                        target="_blank">ڈاوؑنلوڈ</a>

                                                    <a class="active book-details-tab">تفصیل کتاب</a>
                                                </form>
                                            </div>

                                            <div class="row col-12 justify-content-end book-details">
                                                <div
                                                    class="col-12 d-flex mt-2 flex-wrap flex-sm-wrap flex-md-nowrap justify-content-center justify-content-sm-center justify-content-md-between px-5 author">

                                                    <!-- <span class="order-md-1 order-sm-2 order-2">

                                                    مترجم : ابو عبداللٰہ عنایت اللٰہ مدنی

                                                </span> -->

                                                    <span class="order-md-2 order-sm-1 order-1">
                                                        <b>

                                                            مؤلف : عبدالمعید مدنی مدنی حفظہ اللہ

                                                        </b>
                                                    </span>

                                                </div>

                                                <div class="line "></div>

                                                <!-- <div
                                                class="text-justify col-xl-10 col-lg-9 col-md-8 col-sm-9 col-12 order-lg-1 order-xl-1 order-md-1 order-sm-3 order-3  d-flex align-items-center flex-column justify-content-center m-auto">
                                                <p class="book-text">
                                                    اللہ تعالی ٰ کے بابرکت نام او رصفات جن کی پہچان اصل توحید ہے ،کیونکہ
                                                    ان
                                                    صفات کی صحیح معرفت سے ذاتِ باری تعالیٰ کی معرفت حاصل ہوتی ہے ۔عقیدۂ
                                                    توحید کی معرفت اور اس پر تاحیات قائم ودائم رہنا ہی اصلِ دین ہے ۔اور
                                                    اسی
                                                    پیغامِ توحیدکو پہنچانے اور سمجھانے کی خاطر انبیاء و رسل کومبعوث کیا
                                                    گیا
                                                    او رکتابیں اتاری گئیں۔ اللہ تعالیٰ کےناموں او رصفات کے حوالے سے
                                                    توحید کی
                                                    اس مستقل قسم کوتوحید الاسماء والصفات کہاجاتاہے۔ قرآن واحادیث میں
                                                    اسماء
                                                    الحسنٰی کوپڑھنے یاد کرنے کی فضیلت بیان کی گئی ہے ۔ارشاد باری تعالی
                                                    ہے: ’
                                                    وَلِلَّهِ الْأَسْمَاءُ الْحُسْنَى فَادْعُوهُ بِهَا ‘‘اور اللہ تعالیٰ
                                                    کے
                                                    اچھے نام ہیں تو اس کوانہی ناموں سےپکارو۔اور اسی طرح ارشاد نبویﷺ
                                                    ہے«إِنَّ
                                                    لله تِسْعَةً وَتِسْعِينَ اسْمًا مِائَةً إِلَّا وَاحِدًا، مَنْ
                                                    أَحْصَاهَا
                                                    دَخَلَ الجَنَّةَ»یقیناً اللہ تعالیٰ کے نناوےنام ہیں یعنی ایک کم 100
                                                    جس
                                                    نےان کااحصاء( یعنی پڑھنا سمجھنا،یادکرنا) کیا وہ جنت میں داخل
                                                    ہوگا۔(صحیح
                                                    بخاری )اسماء الحسنٰی کے سلسلے میں اہل علم نے مستقل کتب تصنیف کی ہیں
                                                    اور
                                                    بعض نے ان اسماء کی شرح بھی کی ہے۔ زیر تبصرہ کتاب ’’ شرح اسماء
                                                    الحسنیٰ
                                                    کتاب و سنت کی روشنی میں‘‘ڈاکٹر سعید بن علی بن وہف الحقانی رحمہ اللہ
                                                    کی
                                                    تالیف ہے، اس کا اردو ترجمہ مولانا عنایت اللہ سنابلی مدنی صاحب نے کیا
                                                    ہے۔جس میں سب سے پہلے یہ واضح کیا ہے کہ اللہ تعالیٰ کے اسماء توقیفی
                                                    ہیں۔
                                                    مزید اس کتاب میں اسماء حسنیٰ پر ایمان کے ارکان، اللہ کے ناموں الحاد
                                                    کی
                                                    اقسا اور اللہ تعالیٰ کے ننانوے ناموں کی بنظیر شرح کی گئی ہے۔ اللہ
                                                    تعالیٰ
                                                    سے دعا ہے کہ صاحب تصنیف و مترجم کی کاوشوں کو قبول فرمائے اور آخرت
                                                    میں ان
                                                    کی نجات کا ذریعہ بنائے ۔ (آمین)

                                                </p>
                                                <div class="col-12 d-flex align-items-start more-btn">
                                                    <span>مزید۔۔</span>
                                                </div>
                                            </div> -->

                                                <div
                                                    class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-5 m-xl-0 m-lg-0 m-md-0 m-sm-auto  m-auto d-flex align-items-center order-lg-2 order-xl-2 order-md-2 order-sm-1 order-1">

                                                    <a class="image">

                                                        <img class="img-fluid" src="./images/book-43.jpg" alt="">

                                                    </a>

                                                    <!-- <a download class="download-pdf" target="_blank"
                                                                href="https://ia902601.us.archive.org/21/items/bidaat-ki-pehchan/Bidaat%20Ki%20Pehchan.pdf">
                                                                ڈاؤنلوڈ
                                                            </a>
            
                                                            <p class="unicode">یونیکوڈ</p> -->

                                                </div>

                                                <div
                                                    class="col-12 row justify-content-between order-lg-3 order-xl-3 order-md-3 order-sm-2 order-2">

                                                    <span
                                                        class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 order-2 order-sm-1">

                                                        ناشر : صوبائی جمیعت اہل حدیث ممبئی

                                                    </span>

                                                    <span
                                                        class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12 order-1 order-sm-2 text-center">

                                                        صفحات : ۳۳

                                                    </span>

                                                </div>


                                            </div>

                                            <div class="read-online mt-5 col-12">

                                                <iframe
                                                    src="https://archive.org/embed/Jamat_Ahle_Hadees_aur_Azadi_e_Watan"
                                                    width="560" height="384" frameborder="0"
                                                    webkitallowfullscreen="true" mozallowfullscreen="true"
                                                    allowfullscreen></iframe>

                                            </div>

                                        </div>

                                        <div class="line"></div>

                                        <div class="row mt-3" id="book3">

                                            <div class="col-12 card-header mb-2 d-flex justify-content-center">

                                                <span> از شیخ شریم</span>
                                                <span class="mx-4">امام حرم شیخ کا اہم خطاب</span>


                                            </div>

                                            <div class="col-12 tab-container p-0">

                                                <form action="/purchase-book"
                                                    class="d-flex justify-content-end flex-sm-nowrap" method="post">
                                                    <input type="hidden" name="bookName"
                                                        value="امام حرم شیخ کا اہم خطاب">
                                                    <input type="submit" class="d-none" id="submit">


                                                    <button type="submit"><a>کتاب منگوایں</a></button>
                                                    <a href="/unicode">یونیکوڈ</a>
                                                    <a class="read-online-tab">
                                                        آن لائن مطالعہ </a>
                                                    <a download
                                                        href="https://ia802701.us.archive.org/23/items/imam_e_Haram_Shaikh_Shuraim_Ka_Aham_Khetab/%D8%A7%D9%85%D8%A7%D9%85_%D8%AD%D8%B1%D9%85_%D8%B4%DB%8C%D8%AE_%D8%B4%D8%B1%DB%8C%D9%85_%DA%A9%D8%A7_%D8%A7%DB%8C%DA%A9_%DA%AF%D8%B1%D8%A7%DA%BA_%D9%82%D8%AF%D8%B1_%D8%AE%D8%B7%D8%A7%D8%A8.pdf"
                                                        target="_blank">ڈاوؑنلوڈ</a>

                                                    <a class="active book-details-tab">تفصیل کتاب</a>
                                                </form>
                                            </div>

                                            <div class="row col-12 justify-content-end book-details">
                                                <div
                                                    class="col-12 d-flex mt-2 flex-wrap flex-sm-wrap flex-md-nowrap justify-content-center justify-content-sm-center justify-content-md-between px-5 author">

                                                    <span class="order-md-1 order-sm-2 order-2">

                                                        مترجم : فضیلۃ الشیخ عبد المعید مدنی حفظہ اللہ

                                                    </span>

                                                    <span class="order-md-2 order-sm-1 order-1">
                                                        <b>

                                                            مؤلف : امام حرم ڈاکٹر سعودبن ابراہیم الشریم حفظہ اللہ

                                                        </b>
                                                    </span>

                                                </div>

                                                <div class="line "></div>

                                                <div
                                                    class="text-justify col-xl-10 col-lg-9 col-md-8 col-sm-9 col-12 order-lg-1 order-xl-1 order-md-1 order-sm-3 order-3  d-flex align-items-center flex-column justify-content-center m-auto">
                                                    <p class="book-text">
                                                        یہ ایک اہم مختصر رسالہ ہے جو یکم نومبر ۲۰۱۰ء؁ کو امام حرم شیخ
                                                        سعود
                                                        بن ابراہیم الشریم حفظہ اللہ کی ممبئی آمد پرصوبائی جمعیت اہل
                                                        حدیث
                                                        ممبئی کے زیر اہتمام جامع مسجد اہل حدیث مومن پورہ ممبئی میں امام
                                                        موصوف کے گرانقدر خطاب کااردو ترجمہ ہے، اس خطاب میں امام موصوف نے
                                                        اہل
                                                        حدیثان ہند سے اپنی دیرینہ اخوت، محبت ، بھائی چارگی اور والہانہ
                                                        عقیدت
                                                        کا اظہار فرمایا ہے، اور ہندوستان آمد پر سب سے پہلے اُن سے اپنی
                                                        ملاقات کے شوق کا اظہار فرمایا ہے، ساتھ ہی ساتھ علمائے اہل حدیث
                                                        کا
                                                        سعودی عرب ، وہاں کے حکام و امراء اور علماءو اعیان وغیرہ سے
                                                        دیرینہ
                                                        گہرے تعلق کا ذکر فرمایاہے، اور اس بات کی وضاحت فرمائی ہے کہ اس
                                                        والہانہ محبت وعقیدت کا سبب محض اہل حدیثوں کا خالص کتاب وسنت اور
                                                        منہج
                                                        سلف سے تمسک و التزا م ہےجس میں اہل حدیثان و سلفیان ہند اور علماء
                                                        سعودی عرب متفق ہیں۔
                                                    </p>
                                                    <div class="col-12 d-flex align-items-start more-btn">
                                                        <span>مزید۔۔</span>
                                                    </div>
                                                </div>

                                                <div
                                                    class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-5 m-xl-0 m-lg-0 m-md-0 m-sm-auto  m-auto d-flex align-items-center order-lg-2 order-xl-2 order-md-2 order-sm-1 order-1">

                                                    <a class="image">

                                                        <img class="img-fluid" src="./images/book-44.jpg" alt="">

                                                    </a>

                                                    <!-- <a download class="download-pdf" target="_blank"
                                                                href="https://ia902601.us.archive.org/21/items/bidaat-ki-pehchan/Bidaat%20Ki%20Pehchan.pdf">
                                                                ڈاؤنلوڈ
                                                            </a>
            
                                                            <p class="unicode">یونیکوڈ</p> -->

                                                </div>

                                                <div
                                                    class="col-12 row justify-content-between order-lg-3 order-xl-3 order-md-3 order-sm-2 order-2">

                                                    <span
                                                        class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 order-2 order-sm-1">

                                                        ناشر : صوبائی جمیعت اہل حدیث ممبئی

                                                    </span>

                                                    <span
                                                        class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12 order-1 order-sm-2 text-center">

                                                        صفحات : ۲۴

                                                    </span>

                                                </div>


                                            </div>

                                            <div class="read-online mt-5 col-12">

                                                <iframe
                                                    src="https://archive.org/embed/imam_e_Haram_Shaikh_Shuraim_Ka_Aham_Khetab"
                                                    width="560" height="384" frameborder="0"
                                                    webkitallowfullscreen="true" mozallowfullscreen="true"
                                                    allowfullscreen></iframe>

                                            </div>

                                        </div>

                                        <div class="line"></div>

                                        <div class="row mt-3" id="book4">

                                            <div class="col-12 card-header mb-2 d-flex justify-content-center">

                                                <span> از شاہجہاں پوری </span>
                                                <span class="mx-4">الارشاد الی سبیل الرشاد</span>


                                            </div>

                                            <div class="col-12 tab-container p-0">

                                                <form action="/purchase-book"
                                                    class="d-flex justify-content-end flex-sm-nowrap" method="post">
                                                    <input type="hidden" name="bookName"
                                                        value="الارشاد الی سبیل الرشاد">
                                                    <input type="submit" class="d-none" id="submit">


                                                    <button type="submit"><a>کتاب منگوایں</a></button>
                                                    <a href="/unicode">یونیکوڈ</a>
                                                    <a class="read-online-tab">
                                                        آن لائن مطالعہ </a>
                                                    <a download
                                                        href="https://ia902601.us.archive.org/28/items/Al_irshad_ila_Sabeel_ir_Rishad/%D8%A7%D9%84%D8%A5%D8%B1%D8%B4%D8%A7%D8%AF_%D8%A5%D9%84%D9%89_%D8%B3%D8%A8%D9%8A%D9%84_%D8%A7%D9%84%D8%B1%D8%B4%D8%A7%D8%AF_%D8%A7%D8%B2_%D8%AD%D8%A7%D9%81%D8%B8_%D8%AD%DA%A9%DB%8C%D9%85_%D8%A7%D8%A8%D9%88_%DB%8C%D8%AD%DB%8C%DB%8C_%D8%B4%D8%A7%DB%81%D8%AC%DB%81%D8%A7%DA%BA_%D9%BE%D9%88%D8%B1%DB%8C.pdf"
                                                        target="_blank">ڈاوؑنلوڈ</a>

                                                    <a class="active book-details-tab">تفصیل کتاب</a>
                                                </form>
                                            </div>

                                            <div class="row col-12 justify-content-end book-details">
                                                <div
                                                    class="col-12 d-flex mt-2 flex-wrap flex-sm-wrap flex-md-nowrap justify-content-center justify-content-sm-center justify-content-md-between px-5 author">
                                                    <!-- 
                                                <span class="order-md-1 order-sm-2 order-2">

                                                    مترجم : ابو عبداللٰہ عنایت اللٰہ مدنی

                                                </span> -->

                                                    <span class="order-md-2 order-sm-1 order-1">
                                                        <b>

                                                            مؤلف : مولانا حافظ حکیم ابو یحيیٰ محمد شاہجہاں پوری رحمہ
                                                            اللہ

                                                        </b>
                                                    </span>

                                                </div>

                                                <div class="line "></div>

                                                <div
                                                    class="text-justify col-xl-10 col-lg-9 col-md-8 col-sm-9 col-12 order-lg-1 order-xl-1 order-md-1 order-sm-3 order-3  d-flex align-items-center flex-column justify-content-center m-auto">
                                                    <p class="book-text">
                                                        یہ کتاب تقلید و اجتہاد اور حدیث و رائے کے موضوع پر نہایت اہم ،
                                                        مستند، مدلل اور بڑی سنجید تحریر ہے ، اس عظیم کتاب میں مؤلف رحمہ
                                                        اللہ
                                                        نے بڑی عرق ریزی و جاں سوزی سےاتباع سنت کا وجوب و التزام ،تقلید
                                                        کی
                                                        مذمت،اتباع اور تقلید میں فرق،اہل حدیث اور اہل تقلیدمیں فرق، اہل
                                                        الحدیث کی قدامت و حقانیت، اتباع سنت سے متعلق سلف صالحین کا طرز
                                                        عمل
                                                        ،فقہی مذاہب کے شیوع کے اسباب،منع تقلید کی بابت ائمہ اربعہ رحمہم
                                                        اللہ
                                                        کی تصریحات، مسالک کا باہمی تضاد وتناقض، تقلید شخصی اور رائے
                                                        پرستی کے
                                                        فاسد نتائج،امام ابو حنیفہ اور حنفی مسلک کے سلسلہ میں مقلدین
                                                        احناف کا
                                                        طرز عمل ، اما م ابو حنیفہ رحمہ اللہ کے قلیل الحدیث ہونے کے
                                                        اسباب،
                                                        حدیث رسول ﷺ سےبے اعتنائی کا انجام ،اہل حدیث کے ساتھ مقلدین کی
                                                        زیادتی،ایذا رسانی اور بے بنیاد الزامات کی حقیقت اوردیگر بہت سارے
                                                        شکوک و شبہات، مغالطوں اور غلط فہمیوں کاحددرجہ متانت سے ازالہ
                                                        فرمایا
                                                        ہے۔کتاب اپنے موضوع پر بے مثال شاہکار ہے، تقلیدو تعصب اور شخصیت
                                                        پرستی
                                                        میں ڈوبے ہوؤں کی رہنمائی کے لئے سنگ میل اور مینارۂ نور ہے۔
                                                    </p>
                                                    <div class="col-12 d-flex align-items-start more-btn">
                                                        <span>مزید۔۔</span>
                                                    </div>
                                                </div>

                                                <div
                                                    class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-5 m-xl-0 m-lg-0 m-md-0 m-sm-auto  m-auto d-flex align-items-center order-lg-2 order-xl-2 order-md-2 order-sm-1 order-1">

                                                    <a class="image">

                                                        <img class="img-fluid" src="./images/book-45.jpg" alt="">

                                                    </a>

                                                    <!-- <a download class="download-pdf" target="_blank"
                                                                href="https://ia902601.us.archive.org/21/items/bidaat-ki-pehchan/Bidaat%20Ki%20Pehchan.pdf">
                                                                ڈاؤنلوڈ
                                                            </a>
            
                                                            <p class="unicode">یونیکوڈ</p> -->

                                                </div>

                                                <div
                                                    class="col-12 row justify-content-between order-lg-3 order-xl-3 order-md-3 order-sm-2 order-2">

                                                    <span
                                                        class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-12 order-2 order-sm-1">

                                                        ناشر : صوبائی جمیعت اہل حدیث ممبئی

                                                    </span>

                                                    <span
                                                        class="col-xl-2 col-lg-3 col-md-4 col-sm-4 col-12 order-1 order-sm-2 text-center">

                                                        صفحات : ۳۲۲

                                                    </span>

                                                </div>


                                            </div>

                                            <div class="read-online mt-5 col-12">

                                                <iframe src="https://archive.org/embed/Al_irshad_ila_Sabeel_ir_Rishad"
                                                    width="560" height="384" frameborder="0"
                                                    webkitallowfullscreen="true" mozallowfullscreen="true"
                                                    allowfullscreen></iframe>

                                            </div>

                                        </div>

                                        <!-- kabhi yeh hua karta tha  -->
                                        <!-- <p class="light">

                                    June 7, 2023 | <a href="" class="blue">No Comments</a> | <a href="" class="blue">Our
                                        Magazines, </a>
                                    <a href="" class="blue">Tarjuman</a>

                                </p>

                                <div class="row mt-3">

                                    <div class="col-lg-5 col-xl-5 col-md-5 col-sm-6 col-12">

                                        <a href="" class="image">

                                            <img src="./images/book-3.jpeg" alt="">

                                        </a>
                                        <a class="link" href="">
                                            جریدہ ترجمان ۱۶ تا ۲۸ فروری ۲۰۲۳
                                        </a>

                                    </div>

                                    <div class="col-lg-7 col-xl-7 col-md-7 col-sm-6 col-12">

                                        <p class="light">
                                            June-1-15-2023-F Download
                                        </p>

                                        <a href="" class="btn mt-3">Read More</a>

                                    </div>

                                </div>

                                <div class="line"></div> -->


                                        <div class="pagination">

                                            <a href="/book-3" class="btn active">3</a>
                                            <a href="/book-2" class="btn">2</a>
                                            <a href="/book" class="btn">1</a>
                                            <span class="btn no-hover">1 of &nbsp; 3</span>
                                            <a href="/book-2" class="btn"><i class="fa-solid fa-angle-right"></i></a>

                                        </div>


                                    </div>

                                </div>

                            </div>

                            <!-- book  lists are here  -->

                            <%- include('./common/book-right.ejs') %>

                                <!-- right column included here  -->

                                <!-- < include('./common/right') > -->

                        </div>

                    </div>

            </section>


            <!-- footer included here  -->

            <%- include('./common/footer') %>

                <script src="./javascript/book.js"></script>

</body>

</html>