<!DOCTYPE html>
<html lang="ur">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Subai Jamiat Ahle Hadees Mumbai</title> -->
    <!-- all css and js  files are here included -->
    <%- include('./common/css&js') %>
        <link rel="stylesheet" href="./css/masajid.css">

</head>

<body data-active="district-jamiat">

    <!-- header and chats and loading animation included here  -->
    <%- include('./common/loading') %>

        <%- include('./common/header') %>


            <!-- content section starts here  -->

            <section id="content">

                <div class="main-container">

                    <div class="container2">

                        <div class="row g-lg-5 g-xl-5 g-md-3 g-sm-2 g-2 justify-content-center">


                            <!-- left column included here  -->

                            <%- include('./common/left') %>

                                <div class="column-center column col-12 col-sm-10 col-md-6 col-lg-6 col-xl-6">

                                    <div class="card district-jamiat">

                                        <div class="top">

                                            <h1>

                                                ضلعی جمعیات، ممبئی &nbsp;(۱۰)

                                            </h1>

                                        </div>

                                        <div class="content">

                                            <div class="head-container">

                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث، بھیونڈی </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    <span> گرامی قدر عبد الحمید خان صاحب ؍ حفظہ اللہ
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919326338332">9326338332</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b><span>
                                                                    گرامی قدر مولانا مطیع الحق سلفیؔ ؍ حفظہ اللہ

                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919822270238">9822270238</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>

                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث، ممبرا
                                                        </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    <span> گرامی قدر مولانا عبد السلام سلفیؔ ؍ حفظہ الل
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919820722231">9820722231</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b><span>
                                                                    گرامی قدر مولانا ارشد سکراوی صاحب ؍حفظہ اللہ

                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919221718264">9221718264</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>
                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث، تھانہ
                                                        </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    <span>
                                                                        گرامی قدر جناب ابراہیم قاضی صاحب ؍حفظہ اللہ
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919221337147">9221337147</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b><span>
                                                                    گرامی قدر جناب ایڈوکیٹ ندیم شیخ صاحب ؍حفظہ اللہ

                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919867216015">9867216015</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>

                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث، کاندیولی
                                                        </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    <span>
                                                                        گرامی قدر مولانا الطاف حسین فیضی ؍ حفظہ اللہ
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919820098827">9820098827</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b><span>
                                                                    گرامی قدر مولانا عبد الحکیم مدنی ؍ حفظہ اللہ
                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919869395881">9869395881</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>

                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث، نارتھ ایسٹ، ممبئی
                                                        </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    <span>
                                                                        گرامی قدر مولانا جلال الدین فیضی صاحب ؍حفظہ اللہ
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919820693189">9820693189</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b><span>
                                                                    گرامی قدر مولانا بدر الزماں سلفی صاحب ؍حفظہ اللہ
                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919323867409">9323867409</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>

                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث، ساؤتھ ممبئی
                                                        </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    <span>
                                                                        گرامی قدر ڈاکٹر محمد عارف صاحب ؍حفظہ اللہ
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+918898882453">8898882453</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b><span>
                                                                    گرامی قدر مولانا منظر احسن سلفی صاحب ؍حفظہ الل
                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919820060830">9820060830</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>

                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث ، پال گھر
                                                        </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    گرامی قدر مولانا عبدالحکیم عبدالمعبود مدنی حفظہ اللہ
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919869395881">9869395881</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b> <span>
                                                                    گرامی قدر مولانا فاروق عمری صاحب ؍حفظہ اللہ
                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919833518102">9833518102</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>

                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث، ساؤتھ سینٹرل ممبئی
                                                        </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    <span>
                                                                        گرامی قدر رفیق قادری صاحب ؍ حفظہ اللہ
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919867402031">9867402031</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b><span>
                                                                    گرامی قدر محمد اسماعیل کھتری صاحب ؍حفظہ اللہ
                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919819889864">9819889864</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>

                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث، نارتھ ویسٹ ممبئی
                                                        </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    <span>
                                                                        گرامی قدر مولانا سعید احمد بستوی صاحب ؍حفظہ اللہ
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919869986606">9869986606</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b><span>
                                                                    گرامی قدر عبدالحمید شیخ صاحب ؍حفظہ اللہ
                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919930004877">9930004877</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>

                                                <div class="head-wrapper">

                                                    <button class="head-btn">
                                                        <i class="fa-solid fa-angles-down angle"></i>
                                                        <span class="place-title">
                                                            ضلعی جمعیت اہل حدیث، رتناگری
                                                        </span>
                                                        <i class="fa-solid fa-plus circle"></i>
                                                    </button>
                                                    <div class="head-content">

                                                        <div class="division">
                                                            <p>
                                                                <span><b>امیر :</b>
                                                                    <span>
                                                                        گرامی قدر مولانا عبدالواحد انور یوسفی صاحب ؍حفظہ
                                                                        اللہ
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p class=" phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919970370345">9970370345</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                            <p>
                                                        </div>
                                                        <div class="division ">
                                                            <span><b>ناظم : </b><span>
                                                                    گرامی قدر مقصود احمد سین صاحب ؍حفظہ اللہ
                                                                </span></span>
                                                            </p>
                                                            <p class="phone">
                                                                <span>
                                                                    <b>رابطہ نمبر : </b>
                                                                    <span>
                                                                        <a href="tel:+919892980489">9892980489</a>
                                                                    </span>
                                                                </span>
                                                            </p>
                                                        </div>

                                                        <!-- <div class="line"></div> -->

                                                    </div>


                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <!-- right column included here  -->

                                <%- include('./common/right') %>

                        </div>

                    </div>

            </section>

            <!-- footer included here  -->

            <%- include('./common/footer') %>

                <!-- <script src="./javascript/masajid.js"></script> -->

</body>

</html>