<!DOCTYPE html>
<html lang="ur">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Sobai Jamiat Ahle Hadees Mumbai</title> -->
    <!-- all css and js  files are here included -->
    <%- include('./common/css&js') %>

</head>

<body data-active="about">

    <!-- header and chats and loading animation included here  -->
    <%- include('./common/loading') %>


        <%- include('./common/header') %>


            <!-- content section starts here  -->

            <section id="content">

                <div class="main-container">

                    <div class="container2">

                        <div class="row g-lg-5 g-xl-5 g-md-3 g-sm-2 g-2 justify-content-center">


                            <!-- left column included here  -->

                            <%- include('./common/left') %>

                                <div class="column-center column col-12 col-sm-10 col-md-6 col-lg-6 col-xl-6">

                                    <div class="card">

                                        <div class="top">

                                            <h1>

                                                جمعیت اہل حدیث ممبئی کا مختصر تعارف

                                            </h1>

                                        </div>

                                        <div class="content">

                                            <div class="division">
                                                <p dir="rtl">
                                                    الحمدللہ رب العالمین والصلاۃ والسلام علی نبینا محمد وعلی آلہ وصحبہ
                                                    أجمعین
                                                    أمابعد:

                                                </p>
                                                <p>
                                                    وطن عزیز ہند میں جمعیت اہل حدیث کے قیام کے بنیادی مقاصد میں سے اہم
                                                    ترین
                                                    مقصد
                                                    مختلف سرگرمیوں کے ذریعہ پورے ملک کے جماعتی احباب کو باہم مربوط رکھنا
                                                    اور
                                                    ان
                                                    کی فلاح وبہبود کے کاموں میں سرگرم عمل رہنا ہے، پورے ملک میں جمعیت
                                                    اہل
                                                    حدیث
                                                    کی ہزاروں شاخیں ہیں ان میں متعدد جمعیات حسن کارکردگی کی بنیاد پر
                                                    معروف
                                                    ومقبول ہیں، اور ان کے ذریعہ مختلف قسم کی دعوتی، تعلیمی، تربیتی،
                                                    تنظیمی
                                                    ورفاہی سرگرمیوں کا سلسلہ جاری رہتاہے جن کے اپنے اپنے حلقوں میں خوش
                                                    آئند
                                                    نتائج واثرات دیکھنے کوملتے ہیں۔

                                                </p>
                                                <p>
                                                    الحمدللہ صوبائی جمعیت اہل حدیث ممبئی کی بھی اپنی گوناگوں سرگرمیوں او
                                                    ر
                                                    ملک
                                                    وملت اور جماعت کے لئے مفید ونفع بخش کاوشوں کے حوالہ سے عمدہ شناخت
                                                    قائم
                                                    ہے
                                                    اور وہ جماعتی وغیر جماعتی حلقوں میں محتاج تعارف نہیں ہے۔

                                                </p>
                                                <p>
                                                    ذیل میں صوبائی جمعیت اہل حدیث ممبئی کے مختلف شعبوں اور ان کی
                                                    کارکردگی کا
                                                    ایک
                                                    ہلکا سا خاکہ پیش کیا جارہا ہے، مقصد یہی ہے کہ احباب جماعت ان
                                                    سرگرمیوں سے
                                                    خود
                                                    کو زیادہ سے زیادہ جوڑیں اور ان سے خود بھی مستفید ہوں اور دوسروں کے
                                                    بھی
                                                    افادے
                                                    کا سبب بنیں واللہ الموفق وھو الہادی إلی سواء السبیل۔

                                                </p>

                                                <p>
                                                    صوبائی جمعیت اہل حدیث ممبئی شہر ممبئی ، تھانہ اور دیار کوکن میں
                                                    جماعت
                                                    اہل
                                                    حدیث کی نمائندہ تنظیم ہے ۔ تنظیمی سرگرمیوں اور دعوتی جدوجہد کے حوالہ
                                                    سے
                                                    صوبائی جمعیت ملک بھر میں معروف ہے ۔ وسیع لائحہ عمل ، فعّال تنظیمی
                                                    اور
                                                    دعوتی
                                                    شعبہ جات اور مختلف دعوتی صلاحیتوں میں مہارت رکھنے والے علماء اور
                                                    دعاۃ کی
                                                    مضبوط ٹیم کے حوالہ سے صوبائی جمعیت ملک بھرکے اداروں میں اپنی خصوصی
                                                    شناخت
                                                    رکھتی ہے ۔ اللہ کے فضل واحسان اور جماعت کے قیمتی تعاون کے ساتھ ہم
                                                    اپنی
                                                    وسعت
                                                    بھر کوشش کررہے ہیں تاکہ جماعت کی تنظیم اور تنسیق اور دعوت کی ذمہ
                                                    داریاں
                                                    جمعیت کما حقہ ادا کرسکے ۔ ادھر لاک ڈاؤن اور اس کی بندشوں کی وجہ سے
                                                    بہت
                                                    سی
                                                    سرگرمیاں موقوف تھیں لیکن اب بحمدللہ جمعیت اپنے کاز میں رواں دواں ہے۔
                                                    اللہ
                                                    مزید توفیق بخشے۔ ذیل میں جمعیت کی سرگرمیوں کا مختصر سا خاکہ پیش کیا
                                                    جارہا ہے
                                                    ۔

                                                </p>
                                            </div>
                                            <p class="text-start" style="direction:ltr !important;">
                                                <a href="/jamati-activities" class="btn">
                                                    مزید۔۔۔
                                                </a>

                                            </p>

                                        </div>

                                    </div>

                                </div>

                                <!-- right column included here  -->

                                <%- include('./common/right') %>

                        </div>

                    </div>

            </section>

            <!-- footer included here  -->

            <%- include('./common/footer') %>

</body>

</html>