<!DOCTYPE html>
<html lang="ur">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Subai Jamiat Ahle Hadees Mumbai</title> -->
    <!-- all css and js  files are here included -->
    <%- include('./common/css&js') %>
        <link rel="stylesheet" href="./css/masajid.css">

</head>

<body data-active="juma-list">

    <!-- header and chats and loading animation included here  -->
    <%- include('./common/loading') %>

        <%- include('./common/header') %>


            <!-- content section starts here  -->

            <section id="content">

                <div class="main-container">

                    <div class="container2">

                        <div class="row g-lg-5 g-xl-5 g-md-3 g-sm-2 g-2 justify-content-center">

                            <!-- left column included here  -->

                            <%- include('./common/left') %>

                                <div class="column-center column col-12 col-sm-10 col-md-6 col-lg-6 col-xl-6">

                                    <div class="card district-jamiat">

                                        <div class="top">

                                            <h1>
                                                <span>خطبات جمعہ کی لسٹ</span>
                                                <span>(<%= JumaList[JumaList.length - 1].Year %>)</span>
                                            </h1>

                                        </div>

                                        <div class="content">

                                            <div class="head-container">

                                                <% MonthList.forEach(value=>{ %>
                                                    <div class="head-wrapper">

                                                        <button class="head-btn">
                                                            <i class="fa-solid fa-angles-down angle"></i>
                                                            <span class="place-title flex-grow-1 text-center">
                                                                <%= value %>
                                                            </span>
                                                            <i class="fa-solid fa-plus circle"></i>
                                                        </button>
                                                        <div class="head-content">

                                                            <div
                                                                class="row justify-content-center images image-btn-container g-3 my-2">

                                                                <% JumaList.forEach(list=>{%>
                                                                    <% if(list.Month==value){ %>
                                                                        <div href=""
                                                                            class="img col-lg-4 col-xl-4 col-md-6 col-sm-6 col-12">

                                                                            <a target="_blank"
                                                                                href="<%= list.ViewImg %>">
                                                                                <img class="gallery-images"
                                                                                    src="<%= list.ImgUrl %>" alt=""></a>
                                                                            <p class="text">

                                                                                <%= list.Date %>

                                                                            </p>
                                                                        </div>
                                                                        <% } %>
                                                                            <% }) %>
                                                            </div>

                                                        </div>


                                                    </div>
                                                    <% }) %>

                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <!-- right column included here  -->

                                <%- include('./common/right') %>

                        </div>

                    </div>

            </section>

            <!-- footer included here  -->

            <%- include('./common/footer') %>

                <script src="./javascript/masajid.js"></script>

</body>

</html>