<!DOCTYPE html>
<html lang="ur">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Subai Jamiat Ahle Hadees Mumbai</title> -->
    <!-- all css and js  files are here included -->

    <%- include('./common/css&js') %>
        <link rel="stylesheet" href="./css/fatawaList.css">

        <meta property="og:title" content="<%= FatawaTitle %>">
        <meta property="og:description" content="Subai Jamiat Ahle Hadees Mumbai ، صوبائی جمعیت اہل حدیث ممبئی ">
        <meta property="og:image" content="./images/logo-square.png">

</head>

<body data-active="fikh-w-fatawa">

    <!-- header and chats and loading animation included here  -->
    <%- include('./common/loading') %>


        <%- include('./common/header') %>


            <!-- content section starts here  -->

            <section id="content">

                <div class="main-container">

                    <div class="container2">

                        <div class="row g-lg-5 g-xl-5 g-md-3 g-sm-2 g-2 justify-content-center">


                            <!-- left column included here  -->

                            <%- include('./common/left') %>

                                <div class="column-center column col-12 col-sm-10 col-md-6 col-lg-6 col-xl-6">

                                    <div class="card">

                                        <div class="top">

                                            <h1>

                                                فقہ و فتاویٰ

                                            </h1>

                                        </div>

                                        <div class="content">

                                            <h1 class="fatawa-heading" dir="rtl">
                                                <%= ans.questionTitle %>
                                            </h1>

                                            <div class="division">
                                                <div class="my-2 question-container">
                                                    <h3 class="my-1">
                                                        <b class="question-no red">
                                                            <span>
                                                                سوال :
                                                            </span>
                                                            <!-- <span>
                                                                <%#value.SrNo %>
                                                            </span> -->
                                                        </b>
                                                        <br>
                                                        <span class="question">
                                                            <%= ans.question %>
                                                        </span>
                                                    </h3>
                                                    <p>
                                                        <i class="fa-solid fa-user fatawa-icon"></i>

                                                        <b>سائل : </b>
                                                        <span>
                                                            <%= ans.questionerName%>
                                                        </span>
                                                    </p>
                                                </div>
                                                <div class="my-5 jawab">
                                                    <p>
                                                        <b class="blue">جواب : </b>
                                                        <%- ans.answer %>
                                                    </p>
                                                    <p>
                                                        <i class="fa-solid fa-user fatawa-icon"></i>
                                                        <b> کتبہ : </b>
                                                        <span>
                                                            <%= ans.muftiName %>
                                                        </span>
                                                    </p>
                                                    <p>
                                                        <i class="fa-solid fa-calendar-days fatawa-icon"></i>
                                                        <b>تاریخ : </b>
                                                        <span>
                                                            <%= ans.date %>
                                                        </span>
                                                    </p>
                                                    <a href="/generate-fatawa-jawab-pdf/<%= ans.questionerId %>" target="_blank"
                                                        class="fatawa-download-btn">
                                                        <i class="fa-solid fa-download"></i>
                                                    </a>
                                                    <!-- <a href="https://www.ahlehadeesmumbai.com/fatawaJawabPdf/fatawa-jawab-<%# value.No %>.pdf"
                                                        download target="_blank" class="fatawa-download-btn">
                                                        <i class="fa-solid fa-download"></i>
                                                    </a> -->
                                                </div>

                                                <div class="line"></div>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <!-- right column included here  -->

                                <%- include('./common/right') %>

                        </div>

                    </div>

            </section>

            <!-- footer included here  -->

            <%- include('./common/footer') %>

</body>

</html>