<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobai Jamiat Ahle Hadees Mumbai</title>

    <!-- all css and js  files are here included -->
    <%- include('./common/css&js') %>

</head>

<body data-active="home">

    <!-- header and chats and loading animation included here  -->
    <!-- <div class="loading">
         <div class="spinning"></div> 
        <div class="loading-content">
            <p>
                أهلا وسهلا ومرحبا بكم
            </p>
        </div>
    </div> -->

    <%- include('./common/loading') %>

        <%- include('./common/header') %>

            <!-- welcome design starts here  -->

            <!-- <div class="welcome-container">
            <p>
                أهلا وسهلا ومرحبا بكم
            </p>

        </div> -->

            <!-- home  section starts here  -->

            <section id="home">

                <div class="main-container">

                    <div class="container2">

                        <div class="swiper mySwiper2">

                            <div class="swiper-wrapper">

                                <% slides.forEach(slide=>{ %>
                                    <div class="swiper-slide">
                                        <img src="<%= slide.SlideImg %>" alt="">
                                    </div>
                                    <% }) %>

                                        <!-- <div class="swiper-slide">

                                <img src="./images/jalsa-1.jpeg" />

                            </div>

                            <div class="swiper-slide">

                                <img src="./images/jalsa-2.jpeg" />

                            </div>

                            <div class="swiper-slide">

                                <img src="./images/jalsa-3.jpeg" />

                            </div>

                            <div class="swiper-slide">

                                <img src="./images/jalsa-1.jpeg" />

                            </div>

                            <div class="swiper-slide">

                                <img src="./images/jalsa-2.jpeg" />

                            </div> -->

                            </div>

                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>

                        </div>

                        <div thumbsSlider="" class="swiper mySwiper">

                            <div class="swiper-wrapper">

                                <% slides.forEach(slide=>{ %>
                                    <div class="swiper-slide">
                                        <img src="<%= slide.SlideImg %>" alt="">
                                    </div>
                                    <% }) %>


                                        <!-- <div class="swiper-slide">

                                <img src="./images/jalsa-1.jpeg" />

                            </div>

                            <div class="swiper-slide">

                                <img src="./images/jalsa-2.jpeg" />

                            </div>

                            <div class="swiper-slide">

                                <img src="./images/jalsa-3.jpeg" />

                            </div>

                            <div class="swiper-slide">

                                <img src="./images/jalsa-1.jpeg" />
                            </div>

                            <div class="swiper-slide">

                                <img src="./images/jalsa-2.jpeg" />

                            </div> -->

                            </div>

                        </div>

                    </div>

                </div>

            </section>


            <!-- content section starts here  -->

            <section id="content">

                <div class="main-container">

                    <div class="container2">

                        <div class="row g-lg-5 g-xl-5 g-md-3 g-sm-2 g-2 justify-content-center">


                            <!-- left column included here  -->

                            <%- include('./common/left') %>

                                <div class="column-center column col-12 col-sm-10 col-md-6 col-lg-6 col-xl-6">

                                    <div class="card district-jamiat">

                                        <div class="top">

                                            <h1>
                                                نبذة موجزة عن الجمعية ونشاطها وأقسامها

                                            </h1>
                                        </div>

                                        <div class="content">
                                            <div class="division">
                                                <h3 class="text-center">
                                                    ﷽
                                                </h3>
                                                <br>
                                            </div>
                                            <div class="division">
                                                <h3 class="text-center">
                                                    نبذة تعريفية عن

                                                    "جمعية أهل الحديث الإقليمية في مدينة ممبائي" الهند


                                                </h3>
                                                <h3 class="text-center">
                                                    أقسامها • أنشطتها • إنجازاتها
                                                </h3>
                                            </div>
                                            <div class="division">
                                                <p>
                                                    الحمد لله رب العالمين، والصلاة والسلام على أشرف الأنبياء والمرسلين،
                                                    نبينا وحبيبنا وقدوتنا محمد بن عبد الله وعلى آله وصحبه أجمعين، ومن
                                                    تبعهم
                                                    بإحسان إلى يوم الدين، وبعد:

                                                </p>
                                                <h3 dir="rtl">
                                                    توطئة:
                                                </h3>
                                                <p>
                                                    إن "جمعية أهل الحديث الإقليمية بمدينة ممبائي" في ولاية مهاراشترا
                                                    الهند
                                                    جمعية عريقة ومؤسسة دعوية تربوية أصيلة تتبنى الكتاب والسنة على منهج
                                                    وفهم
                                                    سلف الأمة في كافة مناهجها الدعوية والتعليمية والتربوية وما إلى ذلك،
                                                    وتمتد أنشطتها إلى كافة أنحاء مدينة ممبائي وما جاورها من المناطق
                                                    والمدن
                                                    الأخرى كـ"تهانة والأطراف الساحلية المسماة بضفة كوكن وغيرها. كما أن
                                                    الجمعية تلعب دوراً بارزاً في شؤون الدعوة والتربية من خلال برامجها
                                                    الدعوية والتربوية، من إقامة محاضرات أسبوعية وشهرية، ومؤتمرات
                                                    وملتقيات
                                                    سنوية، وندوات دورية، وإعداد أوترجمة كتب سلفية، وطباعتها ونشرها
                                                    وتوزيعها،
                                                    وغيرها من الأنشطة والفعاليات التي تعمل عليها الجمعية جادة، وبناء على
                                                    ذلك
                                                    فإن الجمعية معروفة في كافة مناطق الهند بأنشطتها وفعالياتها.

                                                </p>
                                                <p>
                                                    وإن الجمعية يرأسها حالياً: فضيلة الشيخ عبد السلام بن عبد السميع
                                                    السلفي
                                                    حفظه الله تعالى، كما أن معه كوكبة من نخبة العلماء والدعاة ممن تخرج
                                                    من
                                                    جامعات الهند السلفية أوخارجها مثل الجامعة الإسلامية بالمدينة الطيبة،
                                                    وإن
                                                    عندهم خبرة طيبة عن الدعوة والتربية، فلله الحمد والمنة.

                                                </p>
                                                <p>
                                                    ونذكر فيما يلي بعض أهم أقسام ومهام وإنجازات الجمعية، والتي تسلط
                                                    الضوء
                                                    على نبذة عن أنشطتها وفعالياتها بإذن الله تعالى:

                                                </p>
                                                <h3 dir="rtl">
                                                    أولاً: قسم التنسيق والعلاقات العامة:

                                                </h3>
                                                <p>
                                                    إن جمعية أهل الحديث الإقليمية تتبعها أكثر من عشر وحدات وفروع تعمل
                                                    على
                                                    مستوى المدن والمحافظات كما أن هذه الفروع تتبعها أكثر من مائة فرع
                                                    محلي
                                                    يسمى كل واحد منها جمعية محلية، وهذا القسم يعمل على التنسيق والتنظيم
                                                    فيما
                                                    بينها، ويذكر كل واحد منها بمهامه ومسؤولياته ويراقب عليها ويتعاون
                                                    معها،
                                                    كما أنه يقوم بإقامة اجتماعات معها للتشاور في بعض الأمور التي قد تهم.

                                                </p>
                                                <h3 dir="rtl">
                                                    ثانياً: قسم الدعوة والإرشاد:

                                                </h3>
                                                <p dir="rtl">
                                                    ومن مهام وإنجازات هذا القسم ما يلي:

                                                </p>
                                                <p dir="rtl">
                                                    1.
                                                    القيام بعقد محاضرات وبرامج دعوية وتربوية شهرية في مختلف مساجد مدينة
                                                    ممبائي وما جاورها. </p>
                                                <p dir="rtl">
                                                    2.
                                                    توجيه دعاة الجمعية إلى بعض البرامج الدعوية أو الندوات والمؤتمرات
                                                    الأخرى
                                                    المقامة في مدينة ممبائي وما جاورها وخارجها، عند طلب من أربابها.

                                                </p>
                                                <p dir="rtl">
                                                    3.
                                                    توجيه الدعاة إلى مختلف جوامع مدينة ممبائي وخارجها لإلقاء خطب الجمعة
                                                    فيها.

                                                </p>
                                                <p dir="rtl">
                                                    4.
                                                    تنظيم الدروس العامة أو الدروس العلمية كشرح كتب ورسائل علماء السلف
                                                    كالقواعد الأربع، والأصول الثلاثة، وكتاب التوحيد، ومسائل الجاهلية
                                                    لشيخ
                                                    الإسلام محمد بن عبد الوهاب رحمه الله، وكذلك رسائل المشايخ ابن باز،
                                                    وابن
                                                    عثيمين وصالح الفوزان وغيرهم - رحم الله موتاهم وحفظ أحياءهم - في عدة
                                                    مساجد مدينة ممبائي وخارجها.

                                                </p>
                                                <p dir="rtl">
                                                    5.
                                                    عقد المخيمات الموسمية مثل مخيم تربية الحجاج والتي تم عقده في عام
                                                    2017م
                                                    (في 6/ أغسطس 2017م) بمسجد جامعة الرشاد، كرلا، ممبائي، كما تم عقده في
                                                    عام
                                                    2018م (في 22/ يوليو 2018م) بمسجد خالد عبد الرحمن في حارة تيمكر،
                                                    ناغفارة
                                                    ممبائي، وقد دأبت الجمعية على هذا منذ قديم. كما أنها توجه الوحدات
                                                    التابعة
                                                    على ذلك وتشجعها وتساعدها بما في وسعها من إمكانية مادية ومعنوية.

                                                </p>
                                                <p dir="rtl">
                                                    6.
                                                    عقد الملتقى العلمي لتربية الأئمة والدعاة والمدرسين، وقد دأبت عليه
                                                    الجمعية منذ قديم، وتم عقد هذا الملتقي في عام 2017م في 22/ أكتوبر
                                                    2017م
                                                    بجامع أهل الحديث كابريا نغر، ممبائي، وشارك فيه واستفاد منه أكثر من
                                                    ثلاثمائة شخص ما بين إمام وخطيب وداعية ومدرس من كافة مساجد ومدارس
                                                    مدينة
                                                    ممبائي وخارجها، وتم تكريم وتحفيز المشاركين بمجموعة من كتب قيمة
                                                    وشهادات
                                                    مشاركة وحقائب ومبلغ مالي، فلله الحمد والمنة.

                                                </p>
                                                <p>
                                                    كذلك تم عقد هذا الملتقي في عام 2018م لمدة يومين (في 21-22/ أكتوبر
                                                    2018م)
                                                    وفي عام 2019م (في 03/ نوفمبر 2019م) كل ذلك بجامع أهل الحديث كابريا
                                                    نغر،
                                                    ممبائي، وشارك فيهما واستفاد منهما أكثر من سبعمائة شخص من الأئمة
                                                    والخطباء
                                                    والدعاة والمدرسين من كافة مساجد ومدارس مدينة ممبائي وخارجها، وتم
                                                    تكريم
                                                    المشاركين وتحفيزهم بكتب قيمة وشهادات مشاركة وحقائب ومبلغ مالي، فلله
                                                    الحمد والمنة.

                                                </p>
                                                <p dir="rtl">
                                                    7.
                                                    عقد المؤتمرات السنوية الكبرى، وهذا أيضاً قد دأبت الجمعية عليه منذ
                                                    قديم
                                                    الزمان. هذا المؤتمر السنوي الكبير يتم عقده في جهولا ميدان، مومن
                                                    فورة،
                                                    ممبائي، وهو ميدان كبير تابع لبلدية ممبائي مخصص لإقامة مؤتمرات وحفلات
                                                    أعراس وغيرها. وتستضيف الجمعية في هذا المؤتمر علماء ودعاة سلفيين ذوي
                                                    كفاءات علمية وخبرات دعوية طويلة من خارج الهند من المملكة العربية
                                                    السعودية، ودولة الإمارات العربية المتحدة، ودولة قطر، وبريطانيا
                                                    وغيرها،
                                                    إضافة إلى العلماء والدعاة الشاغلين في مجالات العلم والدعوة من
                                                    الداخل.
                                                    ويحضر ويستفيد ويستمع إلى هذا المؤتمر من الرجال والنساء أكثر من سبعة
                                                    آلاف
                                                    شخص، فلله الحمد والمنة. ولم يزل هذا مستمرا إلى عام 2018م ثم توقف
                                                    الفسح
                                                    النظامي بسبب فرض الإقفال التام وحظر التجوال تجنبا من مرض الكوفيد
                                                    الفتاك،
                                                    فالله المستعان.

                                                </p>
                                                <p>
                                                    إلا أننا وفقنا الله لعقد مؤتمر مهم جداً يهدف إلى الدعوة إلى العدل
                                                    العام
                                                    والتسامح الديني والتعايش السلمي الهادئ في البيئة الهندية
                                                    الديموقراطية
                                                    وذلك باسم "مؤتمر العدل الاجتماعي والتسامح الديني" في 4/ يناير عام
                                                    2020م
                                                    بقاعة الاحتفالات الكبرى التابعة لبيت الحجاج الكائن في ممبائي، فكان
                                                    هذا
                                                    المؤتمر فريداً من نوعه؛ استفاد منه آلاف الأشخاص، فقد حاضر المؤتمر
                                                    نخبة
                                                    من العلماء السلفيين وغيرهم من الاتجاهات الأخرى، كما شارك فيه عدد
                                                    كبير من
                                                    الوزراء والوجهاء الحكوميين وكبار الشخصيات السياسية والاجتماعية
                                                    البارزة
                                                    والإعلاميين وغيرهم، فلله الحمد على توفيقه.
                                                </p>
                                                <p dir="rtl">
                                                    8.إقامة المخيمات الصيفية للطلبة والطالبات، هذا أيضاً قد دأبت الجمعية
                                                    عليها منذ السنوات الماضية. وقد تم عقد مخيمين في صيف عام 2018م وذلك
                                                    لمدة
                                                    عشرة أيام، أحدهما في مسجد دار السلام كوسه ممبرا، تهانه، وثانيهما في
                                                    مسجد
                                                    أهل الحديث كاشي ميرا، وقد قام المدرسون بإلقاء دروسهم التربوية في
                                                    العقيدة
                                                    والمنهج والعبادات والأخلاق والآداب وغيرها، واستفاد من كلا المخيمين
                                                    أكثر
                                                    من مائتي طالب وطالبة، والجمعية قامت بتحفيز الطلبة والطالبات بمنحهم
                                                    شهادات مشاركة وجوائز تشجيعية قيمة، وذلك بعد إقامة اختبار لهم.

                                                </p>
                                                <p>
                                                    ثم بعد ذلك للأسف الشديد توقف عقد الملتقيات العلمية التربوية وإقامة
                                                    المخيمات الصيفية الطلابية وعقد المؤتمرات السنوية الكبرى وغيرها من
                                                    الأنشطة الجماعية الكبيرة تماماً طوال العامين 2020م و2021م بسبب جائحة
                                                    كورونا – عافانا الله منها جميعا –.

                                                </p>
                                                <h3>ثالثاً: قسم التحقيق والتأليف والترجمة:
                                                </h3>
                                                <p dir="rtl">
                                                    لقد دأبت الجمعية على الاعتناء بتحقيق المسائل وتأليف الكتب المفيدة
                                                    على
                                                    عناوين مختلفة مما يتطلبه الوضع الدعوي ويتقاضاه الأمر في أوساط
                                                    المسلمين
                                                    في المنطقة خصوصاً أو المسلمين في الهند وخارجها عموماً، أو ترجمة بعض
                                                    الكتب العقدية والمنهجية والفقهية المحررة مما ألفه علماؤنا السلفيون
                                                    رحم
                                                    الله موتاهم وحفظ أحياءهم، حتى يتمكن المسلمون من الاستفادة منها. ومن
                                                    هذا
                                                    المنطلق تم تأليف عدد من الكتب المفيدة في هذا الخصوص، كما تمت ترجمة
                                                    عدد
                                                    من الكتب والرسائل السلفية المفيدة في العقيدة والمنهج إلى اللغة
                                                    الأردية،
                                                    وهذا كله من مجهودات علماءنا ودعاتنا الأفاضل جزاهم الله خيراً، وتمت
                                                    طباعتها ونشرها على نفقة بعض المحسنين من قسم الطباعة والنشر في
                                                    الجمعية،
                                                    نذكر أهمها فيما يلي:

                                                </p>
                                                <p>
                                                    1.
                                                    قضية التكفير بين أهل السنة وفرق الضلال في ضوء الكتاب والسنة، لفضيلة
                                                    الشيخ د. سعيد بن علي بن وهف القحطاني رحمه الله، ترجمة الشيخ عنايت
                                                    الله
                                                    بن حفيظ الله المدني، الداعية بالجمعية. (14x21 سم،217 ص).

                                                </p>
                                                <p>
                                                    2.
                                                    تاريخ أهل الحديث: تعيين الفرقة الناجية وأنها طائفة أهل الحديث،
                                                    للعلامة
                                                    أحمد بن محمد الدهلوي رحمه الله، ترجمة الشيخ عنايت الله بن حفيظ الله
                                                    المدني، الداعية بالجمعية. (14x21 سم،170 ص).

                                                </p>

                                                <p>
                                                    3.
                                                    صيام رمضان – مسائل وأحكام، تأليف: الشيخ عنايت الله بن حفيظ الله
                                                    المدني،
                                                    الداعية بالجمعية. (14x21 سم،132 ص).

                                                </p>
                                                <p>
                                                    4.
                                                    أشراط الساعة، لفضيلة الشيخ يوسف الوابل، ترجمة الشيخ محمد مقيم الفيضي
                                                    رحمه الله. (17x24 سم،470 ص).

                                                </p>
                                                <p>
                                                    5.
                                                    ظاهرة ضعف الإيمان، لفضيلة الشيخ محمد صالح المنجد حفظه الله، ترجمة
                                                    الشيخ
                                                    محمد مقيم الفيضي رحمه الله. (17x24 سم،124 ص).

                                                </p>
                                                <p>
                                                    6.
                                                    اللحية فريضة الإسلام وشعار صاحب الإيمان، تأليف: الشيخ عنايت الله بن
                                                    حفيظ
                                                    الله المدني، الداعية بالجمعية. (14x21 سم،184 ص).

                                                </p>
                                                <p>
                                                    7.
                                                    كيفية دعوة الملحدين إلى الله تعالى، و كيفية دعوة أهل الكتاب إلى الله
                                                    تعالى، وكيفية دعوة الوثنيين إلى الله تعالى، وكيفية دعوة عصاة
                                                    المسلمين
                                                    إلى الله تعالى في ضوء الكتاب والسنة، كلها لفضيلة الشيخ د. سعيد بن
                                                    علي بن
                                                    وهف القحطاني رحمه الله، ترجمة الشيخ عنايت الله بن حفيظ الله المدني،
                                                    الداعية بالجمعية. (مطبوع في مجموع واحد). (14x21 سم،360 ص).

                                                </p>
                                                <p>
                                                    8.
                                                    الإرشاد إلى سبيل الرشاد، تأليف الشيخ العلامة أبو يحيى محمد
                                                    شاهجهانفوري
                                                    رحمه الله. (14x21 سم،400 ص).

                                                </p>
                                                <p>
                                                    9.
                                                    التقليد وحكمه في ضوء الكتاب والسنة، تأليف الشيخ الدكتور وصي الله
                                                    محمد
                                                    عباس المدني مدرس الحرم المكي وجامعة أم القرى مكة المكرمة. (14x21
                                                    سم،174
                                                    ص).

                                                </p>
                                                <p>
                                                    10.
                                                    موسوعة القرآن الكريم (باللغة الهندية)، تأليف الشيخ الدكتور ضياء
                                                    الرحمن
                                                    الأعظمي رحمه الله المدرس في الجامعة الإسلامية بالمدينة والمسجد
                                                    النبوي
                                                    سابقا. (17x24 سم،736 ص).

                                                </p>
                                                <p>
                                                    11.
                                                    ظل القرآن البارد (باللغة الهندية)، تأليف الشيخ الدكتور ضياء الرحمن
                                                    الأعظمي رحمه الله المدرس في الجامعة الإسلامية بالمدينة والمسجد
                                                    النبوي
                                                    سابقا. (14x21 سم،160 ص).

                                                </p>
                                                <p>
                                                    12.
                                                    شرح أسماء الله الحسنى في ضوء الكتاب والسنة، لفضيلة الشيخ د. سعيد بن
                                                    علي
                                                    بن وهف القحطاني رحمه الله، ترجمة الشيخ عنايت الله بن حفيظ الله
                                                    المدني،
                                                    الداعية بالجمعية. (14x21 سم،304 ص).

                                                </p>
                                                <p>
                                                    13.
                                                    الزكاة في الإسلام مسائل وأحكام، تأليف: الشيخ عنايت الله بن حفيظ الله
                                                    المدني، الداعية بالجمعية. (14x21 سم،160 ص).

                                                </p>
                                                <p>
                                                    14.
                                                    داعش: خنجر مطعون في صدر العالم الإسلامي، تأليف الشيخ محمد مقيم
                                                    الفيضي
                                                    رحمه الله نائب رئيس الجمعية سابقا. (14x21 سم،136 ص).

                                                </p>
                                                <p>
                                                    15.
                                                    حكم أضحية الجاموس دراسة علمية ورد الشبهات حولها، (الطبعة الثالثة)
                                                    تأليف:
                                                    الشيخ عنايت الله بن حفيظ الله المدني، الداعية بالجمعية. (14x21
                                                    سم،280
                                                    ص).

                                                </p>
                                                <p>
                                                    16.
                                                    قواعد في التعامل مع العلماء، للشيخ عبد الرحمن بن معلا اللويحق حفظه
                                                    الله،
                                                    ترجمة الشيخ عنايت الله بن حفيظ الله المدني، الداعية بالجمعية. (14x21
                                                    سم،280 ص).

                                                </p>
                                                <p>
                                                    17.
                                                    بديع الطراز في معالم منهج الفتوى عند الإمام ابن باز، لإمام وخطيب
                                                    المسجد
                                                    الحرام الشيخ الدكتور عبد الرحمن السديس حفظه الله، ترجمة الشيخ عنايت
                                                    الله
                                                    بن حفيظ الله المدني، الداعية بالجمعية. (14x21 سم،208 ص).

                                                </p>
                                                <p>
                                                    18.
                                                    شرح السنة، تأليف العلامة البربهاري رحمه الله، ترجمة الشيخ حافظ محمود
                                                    الخضري. (14x21 سم،184 ص).

                                                </p>
                                                <p>
                                                    19.
                                                    الخوارج وصفاتهم، تأليف الشيخ الدكتور محمد غيث غيث، ترجمة الشيخ عقيل
                                                    أحمد
                                                    بن حبيب الله. (17x24 سم،112 ص).

                                                </p>
                                                <p>
                                                    20.
                                                    الإقناع بما جاء عن أئمة الدعوة من الأقوال في الاتباع، تأليف الشيخ
                                                    محمد
                                                    بن هادي المدخلي حفظه الله، ترجمة الشيخ عنايت الله بن حفيظ الله
                                                    المدني،
                                                    الداعية بالجمعية. (طبع فرع الجمعية ببيوندي). (14x21 سم،168 ص).

                                                </p>
                                                <p>
                                                    21.
                                                    كلمة الرئاسة في مؤتمر تحفظ الإنسانية السنوي عام 2017م، لفضيلة الشيخ
                                                    عبد
                                                    السلام بن عبد السميع السلفي حفظه الله ( رئيس الجمعية). (14x21 سم،24
                                                    ص).

                                                </p>
                                                <p>
                                                    22.
                                                    كلمة الرئاسة في مؤتمر عظمة الإسلام السنوي عام 2018م، لفضيلة الشيخ
                                                    عبد
                                                    السلام بن عبد السميع السلفي حفظه الله ( رئيس الجمعية). (14x21 سم،20
                                                    ص).

                                                </p>
                                                <p>
                                                    23.
                                                    إيقاظ همم أولي الأبصار، للاقتداء بسيد المهاجرين والأنصار، وتحذيرهم
                                                    عن
                                                    الابتداع الشائع في القرى والأمصار، مع الحمية والعصبية بين فقهاء
                                                    الأعصار،
                                                    للشيخ العلامة صالح بن محمد بن نوح الفلاني رحمه الله، ترجمة الشيخ
                                                    عنايت
                                                    الله بن حفيظ الله المدني، الداعية بالجمعية. (17x24 سم،520 ص).

                                                </p>
                                                <p>
                                                    24.
                                                    حقيقة القاديانية، للشيخ العلامة أبو القاسم سيف البنارسي رحمه الله
                                                    (14x21
                                                    سم، 488 ص).

                                                </p>
                                                <p>
                                                    25.
                                                    شرح نواقض الإسلام للشيخ الإسلام محمد بن عبد الوهاب رحمه الله،شرح
                                                    الشيخ
                                                    صالح بن فوزان الفوزان حفظه الله، ترجمة جمع من أهل العلم. (14x21
                                                    سم،294
                                                    ص).

                                                </p>
                                                <p>
                                                    26.
                                                    الإرشاد إلى صحيح الاعتقاد، تأليف الشيخ صالح بن فوزان الفوزان حفظه
                                                    الله،
                                                    ترجمة الشيخ عبد التواب المحمدي. (14x21 سم،496 ص).

                                                </p>
                                                <p>
                                                    27.
                                                    حلية طالب العلم، تأليف الشيخ العلامة بكر بن عبد الله أبو زيد رحمه
                                                    الله،
                                                    ترجمة الشيخ عنايت الله بن حفيظ الله المدني، الداعية بالجمعية. (14x21
                                                    سم،112 ص).

                                                </p>
                                                <p>
                                                    28.
                                                    الأجوبة المفيدة عن أسئلة المناهج الجديدة، تأليف الشيخ العلامة صالح
                                                    بن
                                                    فوزان الفوزان حفظه الله، ترجمة الشيخ عنايت الله بن حفيظ الله المدني،
                                                    الداعية بالجمعية. (14x21 سم،480 ص).

                                                </p>
                                                <p>
                                                    29.
                                                    اختلاف الأمة وفرقتها، تأليف الشيخ الدكتور عبد القيوم البستوي المدني
                                                    حفظه
                                                    الله باللغة الأردية. (14x21 سم،159 ص).

                                                </p>
                                                <p>
                                                    30.
                                                    اختلاف الأمة وفرقتها (باللغة الإنجليزية)، تأليف الشيخ الدكتور عبد
                                                    القيوم
                                                    البستوي المدني حفظه الله،ترجمة الأستاذة حنا منير القاضي. (14x21
                                                    سم،183
                                                    ص).

                                                </p>
                                                <p>
                                                    31.
                                                    حقيقة الجن والشياطين ومنكرات الرقية المروجة، تأليف الشيخ محمد مقيم
                                                    الفيضي رحمه الله، وهو كتاب موسع حافل مرجع في بابه. (17x24 سم،في
                                                    مجلدين
                                                    ضخمين، أكثر من 1800 ص).

                                                </p>
                                                <p>
                                                    32.
                                                    الشيخ الحافظ صلاح الدين يوسف حياته ومآثره (مجموع مقالات)،جمع وترتيب
                                                    الشيخ نصير أحمد الرحماني، الداعية بالجمعية. (14x21 سم،469 ص).

                                                </p>
                                                <p>
                                                    33.
                                                    كلمة الرئاسة في مؤتمر "العدل الاجتماعي والتسامح الديني" عام 2020م،
                                                    لفضيلة الشيخ عبد السلام بن عبد السميع السلفي حفظه الله (رئيس
                                                    الجمعية).
                                                    (14x21 سم،27 ص).

                                                </p>
                                                <p>
                                                    34.
                                                    حق النساء في الميراث والجاهلية الجديدة، تأليف الشيخ عنايت الله بن
                                                    حفيظ
                                                    الله المدني، الداعية بالجمعية. (14x21 سم،132 ص).

                                                </p>
                                                <p>
                                                    35.
                                                    معجزات نبي الرحمة وأخباره المستقبلية، تأليف الأستاذ محمد ناظم عبد
                                                    المجيد. (14x21 سم،158 ص).

                                                </p>
                                                <p>
                                                    36.
                                                    فقه الفتن، تأليف الشيخ سليمان الرحيلي حفظه الله، ترجمة الشيخ عنايت
                                                    الله
                                                    بن حفيظ الله المدني، الداعية بالجمعية. (14x21 سم، 126 ص).

                                                </p>
                                                <p>37.
                                                    الغيرة على عرض رسول الله والدفاع عنه، تأليف الشيخ يوسف بن حسن
                                                    الحمادي
                                                    حفظه الله، ترجمة الشيخ ألطاف الرحمن المدني. (14x21 سم،24 ص).

                                                </p>
                                                <p>
                                                    38.
                                                    الحلف في العقيدة الإسلامية، تأليف الشيخ مقصود الحسن الفيضي حفظه
                                                    الله.
                                                    (14x21 سم،80 ص).

                                                </p>
                                                <p>
                                                    39.
                                                    مقالات في حجية الحديث النبوي، تأليف شيخ الإسلام العلامة ثناء الله
                                                    الأمرتسري رحمه الله، تحقيق الشيخ عبد الأحد أحسن جميل المدني. (17x24
                                                    سم،544 ص).

                                                </p>
                                                <p>
                                                    40.
                                                    أصول الدعوة السلفية، تأليف الشيخ عبد السلام بن برجس آل عبد الكريم
                                                    رحمه
                                                    الله، ترجمة الدكتور أجمل منظور المدني. (14x21 سم،72 ص).

                                                </p>
                                                <p>
                                                    41.
                                                    فضائل الأمة المحمدية، تأليف الشيخ الدكتور عبد القيوم البستوي المدني
                                                    حفظه
                                                    الله. (14x21 سم،120 ص).

                                                </p>
                                                <p>
                                                    42.
                                                    بيان المنهج الحق والتحذير من جماعة الإخوان المسلمين وتنظيماتهم
                                                    السرية،
                                                    تأليف الشيخ أ.د. هشام بن عبد الملك آل الشيخ حفظه الله، ترجمة الشيخ
                                                    عنايت
                                                    الله بن حفيظ الله المدني، الداعية بالجمعية. (14x21 سم،71 ص).

                                                </p>
                                                <p>
                                                    43.
                                                    التقصير في تربية الأولاد – المظاهر ، سبل الوقاية والعلاج، تأليف
                                                    الشيخ
                                                    محمد بن إبراهيم الحمد حفظه الله، ترجمة الشيخ عنايت الله بن حفيظ الله
                                                    المدني، الداعية بالجمعية. (14x21 سم،123 ص).

                                                </p>
                                                <p>
                                                    44.
                                                    قواعد معرفة البدع، تأليف الشيخ محمد بن حسين الجيزاني حفظه الله،
                                                    ترجمة
                                                    الشيخ عنايت الله بن حفيظ الله المدني، الداعية بالجمعية. (14x21
                                                    سم،284
                                                    ص).

                                                </p>
                                                <p>
                                                    45.
                                                    دراسات في المنهج، تأليف الشيخ سليمان الرحيلي حفظه الله، ترجمة الشيخ
                                                    الدكتور أجمل منظور المدني. (17x24 سم، 312 ص).

                                                </p>
                                                <p>
                                                    علماً بأن هناك عدداً من الكتب ما زالت قيد التأليف والترجمة نسأل الله
                                                    إتمامها.

                                                </p>

                                                <p>رابعاً: قسم الإفتاء وإصلاح ذات البين:
                                                </p>
                                                <p>
                                                    هذا قسم فعال بالجمعية، والقسم يؤدي مهامه على ما يرام، فقد ترد
                                                    استفتاءات
                                                    كثيرة شفهيا وكتابة بمكتب الجمعية، وهي تتعلق بقضايا الطلاق والخلع
                                                    والميراث والحقوق المتعلقة بالأموال والعقارات وغيرها، والمكلفون
                                                    بالفتوى
                                                    يجيبون على تلك الاستفتاءات شفهياً أو كتابة حسب الطلب. كما يتم العمل
                                                    على
                                                    إصلاح ذات البين شخصياً عن طريق أمير الجمعية ونائبه وغيرهما من مسؤولي
                                                    الجمعية. وقد تم إصدار أكثر من مائة فتوى من هذا القسم في الأعوام
                                                    الماضية.

                                                </p>
                                                <h3>
                                                    خامساً: قسم الطباعة والنشر:

                                                </h3>
                                                <p>
                                                    ومن مهام وإنجازات هذا القسم:

                                                </p>

                                                <ul>
                                                    <li>طباعة ونشر الكتب والرسائل التي تم تحقيقها أو تأليفها أو ترجمتها
                                                        من
                                                        قبل قسم التحقيق والتأليف والترجمة بالجمعية، وقد تمت طباعة عشرات
                                                        الكتب بأكثر من ستين ألف نسخة.</li>
                                                    <li>
                                                        طباعة ونشر "مجلة الجماعة" الشهرية بالجمعية التي يتم إصدارها في
                                                        بداية
                                                        كل شهر ميلادي، وكان يديرها فضيلة الشيخ محمد مقيم الفيضي رحمه
                                                        الله
                                                        نائب رئيس الجمعية سابقا. (إصدارها متوقف حالياً لوجوه)

                                                    </li>
                                                    <li>
                                                        طباعة التقويم السنوي الهجري والميلادي ويكون ذلك محلى بأدعية
                                                        مأثورة
                                                        مع ترجمتها باللغة الأردية والإنكليزية وعشرات الأحاديث النبوية
                                                        الصحيحة المفيدة، فبذلك يصير هذا التقويم مذكرة سنوية لهذه الأدعية
                                                        والأحاديث النبوية، ويطبع هذا التقويم قبل بداية العام الميلادي
                                                        بشهر
                                                        وبعدد لايقل عن عشرين ألف نسخة.

                                                    </li>
                                                    <li>
                                                        طباعة إمساكية رمضانية، وذلك قبيل شهر رمضان المبارك في كل عام،
                                                        وبآلاف
                                                        نسخة.

                                                    </li>
                                                    <li>
                                                        طباعة تقريرات سنوية لأنشطة الجمعية وإنجازاتها.

                                                    </li>
                                                    <li>
                                                        طباعة إعلانات ونشرات وملصقات للبرامج والندوات والمؤتمرات الشهرية
                                                        والسنوية والدورية التي يتم عقدها وتنظيمها من قبل الجمعية.

                                                    </li>
                                                </ul>

                                            </div>

                                            <div class="division">
                                                <h3>سادساً: قسم إهداء وتوزيع الكتب:</h3>
                                                <p>
                                                    هذا القسم يؤدي دوره من خلال إهداء وتوزيع الكتب المطبوعة من قبل
                                                    الجمعية
                                                    والكتب الأخرى ومصاحف التلاوة والمصاحف المترجم معانيها إلى اللغات
                                                    الأردية
                                                    والهندية والإنكليزية بالتعاون من الجهات المختصة.
                                                </p>
                                            </div>

                                            <div class="division">
                                                <h3>سابعاً: قسم التزكيات والتوصيات:
                                                </h3>
                                                <p>
                                                    لا شك أن العمل الخيري من بناء مسجد أو إقامة مدرسة أوطباعة كتب
                                                    أوغيرها من
                                                    الشؤون الدعوية والخيرية يتقاضى بذل المال والدعم ومن ثم يحتاج إلى جمع
                                                    التبرعات من أهل الخير، وبما أن مدينة ممبائي عاصمة صناعية وتجارية وهي
                                                    معروفة بمكانتها الإستراتيجية في الهند فإن عدداً كبيراً من سفراء
                                                    المدارس
                                                    والمساجد والجهات الدعوية من داخل مدينة ممبائي وخارجها يفدون إلى مكتب
                                                    الجمعية لطلب التزكية أو التوصية لما يخصهم من جهة حتى يتمكنوا من جمع
                                                    التبرعات من أهل الخير، وإن هذا القسم يؤدي دوره في هذا الخصوص بإصدار
                                                    شهادة مصادقة أو تزكية أو توصية لتلك الجهات، وذلك بعد الاستخبار
                                                    والاستعلام من قبل فروع الجمعية أو الشخصيات البارزة في تلك المنطقة،
                                                    ويتم
                                                    إصدار مئات المصادقات والتزكيات سنوياً من قبل الجمعية.

                                                </p>
                                            </div>

                                            <div class="division">
                                                <h3>
                                                    ثاني عشر: قسم الشؤون المالية:

                                                </h3>
                                                <p>
                                                    هذا القسم بالجمعية أهم أقسامها، وكيف لا وقد جعل الله المال قياماً
                                                    لمعايش
                                                    العباد، فجميع الأنشطة والأقسام الدعوية والخيرية والإغاثية التي
                                                    بالجمعية،
                                                    إضافة إلى ذلك تسديد رواتب الدعاة والموظفين ومصاريف مكتب الجمعية
                                                    اللازمة،
                                                    متوقفة في تشغيلها وإنجازها على المال والدعم. ولا سبيل إلى توفير ذلك
                                                    إلا
                                                    تبرعات أهل الخير، ولا شك أن جمعها يتقاضى جهداً جهيداً وجلداً وصبر
                                                    نفس.
                                                    وإن لرئيس الجمعية الشيخ عبد السلام السلفي حفظه الله في هذا الصدد
                                                    هماً
                                                    وجهداً وشعوراً بالمسؤولية بحيث لاتكاد توصف، فإنه يسعى لذلك جاهداً
                                                    ليل
                                                    نهار، ولاسيما بمناسبة شهر رمضان المبارك بحيث صار عند غالب الناس
                                                    موسماً
                                                    لصرف التبرعات، وليس لنا إلا أن ندعو الله تعالى له أن يجزيه عن
                                                    المسلمين
                                                    خير الجزاء.

                                                </p>
                                                <p>
                                                    علماً بأن ميزانية الجمعية الداخلية السنوية تبلغ: (700,00,00) سبعة
                                                    ملايين
                                                    روبية هندية.

                                                </p>
                                                <p>
                                                    هذا، ونسأل الله تعالى أن يجعلنا مفاتيح للخير ومغاليق للشر، وأن يتقبل
                                                    منا
                                                    الجهد ويرزقنا الإخلاص في القول والعمل، آمين.

                                                </p>
                                                <p>
                                                    وصلى الله وسلم وبارك وأنعم على خير خلقه نبينا محمد وعلى آله وصحبه
                                                    أجمعين.

                                                </p>
                                                <p>
                                                    (تمت طباعة هذه النبذة التعريفية في قسم الطباعة والنشر بالجمعية في:
                                                    26/
                                                    أغسطس 2022م – الموافق 27/ محرم 1444هـ)

                                                </p>
                                                <h3>
                                                    عنوان مقر الجمعية للمراسلة والتواصل:

                                                </h3>
                                                <p>
                                                    "جمعية أهل الحديث الإقليمية في مدينة ممبائي" 14، 15/ تشونا والا
                                                    كمباؤند،
                                                    مقابل مواقف حافلات بيست، شارع إيل. بي. إيس. كرلا (الغرب)، ممبائي
                                                    400070،
                                                    مهاراشترا، الهند.

                                                </p>
                                                <p>
                                                    للتواصل: الجوال رقم: 9323451451 / 9820722231 - 0091

                                                </p>
                                                <p>
                                                    العنوان على الإنترنت: www.ahlehadeesmumbai.com

                                                </p>
                                                <p>
                                                    البريد الإلكتروني: ahlehadeesmumbai@gmail.com

                                                </p>
                                            </div>

                                            <div class="division">
                                                <h3>
                                                    ثامناً: قسم الإغاثة الخيرية:

                                                </h3>
                                                <p>
                                                    هذا القسم يؤدي دوره المتميز من خلال جمع التبرعات المالية والعينية من
                                                    أهل
                                                    الخير والإحسان، ثم إيصالها وتوزيها بين المصابين والمنكوبين بالآفات
                                                    السماوية والأرضية التي تباغتهم من: السيول والفيضانات والأمطار
                                                    الغزيرة
                                                    وأحياناً تهدم بعض المباني السكنية والتي تسبب الأموات أو الجروح
                                                    وغيرها.
                                                    وقد تمت إغاثة مئات بل آلاف الأشخاص ممن أصيب بالآفات السماوية بملايين
                                                    الروبيات في الأعوام الماضية، وذلك في كشمير وبيهاور وأترابراديش
                                                    ونيبال
                                                    وسدهارت نغر وفي العام الماضي في منطقة كوكن الساحلية التي ضُربت
                                                    بالفيضانات والسيول الهائلة، وغيرها فلله الحمد والمنة.

                                                </p>
                                                <h3>
                                                    تاسعاً: قسم الدعم الخيري:

                                                </h3>
                                                <p>
                                                    هذا القسم بالجمعية يؤدي دوره على قدر مستطاعه من خلال ما يلي:

                                                </p>
                                                <ul>
                                                    <li>
                                                        الإنفاق على المرضى والمحتاجين والمساكين.
                                                    </li>
                                                    <li>
                                                        دعم بعض الغارمين والمدينين بما يساعدهم على تسديد دينهم.
                                                    </li>
                                                    <li>
                                                        كفالة كلية أو جزئية لبعض المدرسين أو الأئمة في عدد من المكاتب
                                                        والمدارس والمساجد في مدينة ممبائي وخارجها.

                                                    </li>
                                                </ul>
                                                <h3>
                                                    عاشراً: قسم المكتبة التجارية:

                                                </h3>
                                                <p>
                                                    المكتبة التجارية والتي تم فتحها قبل سنوات تؤدي دورها من خلال توفير
                                                    الكتب
                                                    المنهجية من عدد من المكتبات والناشرين وبيعها بربح زهيد جداً، فالقصد
                                                    منها
                                                    إنما هو توفير الكتب المفيدة النافعة في مدينة ممبائي وبالجمعية.

                                                </p>
                                                <h3>
                                                    حادي عشر: قسم الإعلام الحديث وشبكة الإنترنت:

                                                </h3>
                                                <p>
                                                    هذا القسم كما لا يخفى على أحد مهم جداً في العصر الحاضر بل صار بحيث
                                                    لا
                                                    مفر منه ولامناص؛ حتى لا يكاد يوجد شخص إلا وهو منشغل به عما سواه
                                                    خيراً
                                                    كان أو شراً. ولا شك أن الإعلام الحديث له دور بارز في إبلاغ الدعوة
                                                    والخير
                                                    إلى الآفاق في هذا العصر، ومن هذا المنطلق هذا القسم بالجمعية يؤدي
                                                    مهمته
                                                    في الدعوة إلى الله من نشر محاضرات ودروس أهل العلم والتي يتم تصويرها
                                                    وتسجيلها في الإستوديو بالقسم، ونشر الكتب الصادرة من الجمعية وغيرها
                                                    على
                                                    موقعها على شبكة الإنترنت وحساباتها الإعلامية الاجتماعية الأخرى، وهي
                                                    كما
                                                    يلي:

                                                </p>
                                                <ul>
                                                    <li>
                                                        <h3>موقع الجمعية على الشبكة:
                                                        </h3>
                                                        <p>
                                                            (www.ahlehadeesmumbai.com)

                                                        </p>

                                                    </li>
                                                    <li>
                                                        <h3>حساب الجمعية على الفيسبوك:
                                                        </h3>
                                                        <p>
                                                            (subaijamiatahlehadeesmum)

                                                        </p>
                                                    </li>
                                                    <li>
                                                        <h3>
                                                            حساب الجمعية على التويتر:

                                                        </h3>
                                                        <p>
                                                            (@JamiatSubai/twitter.com)

                                                        </p>
                                                    </li>
                                                    <li>
                                                        <h3>حساب الجمعية على اليوتوب:
                                                        </h3>
                                                        <p>
                                                            (SubaiJamiatAhleHadeesMumbai)

                                                        </p>
                                                    </li>
                                                    <li>
                                                        <h3>عنوان الجمعية على الرسائل المنبهة: (Jamiat)
                                                        </h3>
                                                    </li>
                                                    <li>
                                                        <h3>
                                                            رقم الجمعية للواتساب: (9892555244 91+)

                                                        </h3>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                                <!-- right column included here  -->

                                <%- include('./common/right') %>


                        </div>

                    </div>

            </section>

            <!-- footer included here  -->

            <%- include('./common/footer') %>

</body>

</html>